.Element .element-button {
    padding: 0;
    margin: auto;
}

.Element .btn-link {
    color: black; 
    text-decoration: none;
}

.Element .btn-link:hover {
    text-decoration: underline;
}

.Element .element-icon {
    /* max-width: 200px; */
    display: block;
    margin: auto;
    border-radius: 8px;
}

.Element .element-name {
    margin-top: 0;
    font-weight: 500;
}

.Element .element-level {
    font-size: small;
    color: darkgray;
}

@media (min-width: 768px) {
    .Element .element-name {
        margin-top: 8px;
    }
}