.Program {
    /* background-color: rgb(225, 225, 225); */
    text-align: center;
    max-width: 800px;
    display: block;
    margin: auto;
    color: rgb(255, 255, 255);
}


.accordion-button:not(.collapsed) {
    color: #000000;
    font-weight: 700;
    /* font-size: large; */
    background-color: rgb(255 255 255 / 30%);
    transition: all 200ms ease-in-out;
    /* text-decoration: underline; */
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.form-check-input:checked {
    background-color: #ff8c01;
    border-color: #9b6100;
}

.form-check-input:focus {
    border-color: #737373;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(253 113 13 / 25%);
}